body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  text-align: left;
  padding-left: 40px;
  position: relative;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #b0b0b0;
}

.get-started-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  background-color: #555;
  transform: scale(1.05);
}

